<div style="overflow-x:auto;">
<table>
  <colgroup>
    <col style="width: 10%;">
    <col style="width: 60%;">
    <col style="width: 45%;">
  </colgroup>
  <thead>
    <tr>
      <th>Date</th>
      <th>Materials</th>
      <th>Homework</th>
    </tr>
  </thead>
  <tbody>
    {% assign sorted_lectures = include.lectures | sort:'index' %}
    {% for lecture in sorted_lectures %}
      <!-- Extract the attributes of the lecture -->
      {% assign title = lecture.title %}
      {% assign date = lecture.date %}
      {% assign materials = lecture.materials %}
      {% assign assignments = lecture.assignments %}
      <tr>
        <!-- Date -->
        <td>{{ date | date: "%A, %B %d, %Y"}}</td>
        <!-- Materials -->
        <td>
          <b>{{ title }}</b>
          <ul>
          {% for material in materials %}
            <li>
              {{ material.topic }}
              {% include files_list.html files=material.files %}
            </li>
          {% endfor %}
          </ul>
        </td>
        <!-- Assignments -->
        <td>
          {% if assignments.size > 0 %}
            <b>{{ assignments.text }}</b>
            {% include files_list.html files=assignment.files %}
            <br><br>
            <b>Due Date:</b>
            {{ assignments.due_date | date: "%A, %B %d, %Y %I:%M %p" }} 
            <br><br>
            <a href="{{ assignments.submission }}">Submission link</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>